* {
  font-family: 'Rosarivo', cursive;
}

body {
  background: url("/photos/background-start.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 45px;
}

.aside {
  float: left;
  background-color: #cfc6be;
  min-width: 220px;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100%;
  border-right: solid;
  border-color: #2c2521;
}

.abilities {
  display: flex;
  width: 100%;
}

ul, li
{
  max-width: auto;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.items > li {
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  width: 100px;
  text-align: center;
  font-size: 12px;
}

 /* Dropdown Button */
 .dropbtn {
  background-color: #312221;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #120e0d;
}
