* {
  font-family: 'Rosarivo', cursive;
}

header {
  display: flex;
  text-align: right;
  flex-wrap: wrap;
  order: 1;
  font-family: 'IM Fell English SC', serif;
}

body {
  background: url("photos/background-start.jpg") no-repeat center center fixed;
  background-size: cover;
}

.logo {
  position: absolute;
  width: 460px;
  z-index: 1;
}

h1 {
  text-align: right;
  font-size: 45px;
  font-family: 'IM Fell English SC', serif;
  color: black;
  padding-left: 450px;
  padding-top: 20px;
  z-index: 1;
}

h2 {
  font-family: 'IM Fell English', serif;
  text-align: center;
}

nav {
  text-align: center;
  color: white;
  background-color: #2c2521;
  text-decoration: none;
  padding: 5px;
}

nav > a {
  position: relative;
  top: 5px;
  z-index: 2;
  padding: 20px;
  text-decoration: none;
  color: white;
  text-align: right;
}

a:hover {
  color: black;
  z-index: 2;
}

.tooltip {
  content: attr(data-tooltip);
  position: absolute;
  display: none;
}

.t-aside {
  position: fixed;
  top: 200px;
  float: left;
  background-color: #000000;
  color: white;
  min-width: 210px;
  left: 0px;
  width: 100px;
  border: solid 4px;
  border-color: #232931;
  border-radius: 2px;
  padding: 10px;
}

.aside {
  float: left;
  background-color: #cfc6be;
  min-width: 210px;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100%;
  border: solid;
  border-color: #2c2521;
  border-radius: 3px;
}

.sidebar {
  text-align: left;
}

.abilities {
  display: flex;
  width: 100%;
}

li > .attributes {
  display: grid;
  grid-template-columns: auto;
}

aside > ul, li
{
  max-width: auto;
  text-align: left;
  display: block;
}

.item-text {
  grid-area: text;

}

#items {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

#items > li {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(25, 30, 78, 0.3));
  border-radius: 6px;
  border-style: solid outset outset solid;
  border-color: #000000;
  border-width: 2px;
  padding: 2.5px 5px 2.5px 5px;
  width: 80px;
  text-align: center;
  font-size: 9px;
  color: white;
  align-items: left;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-areas: "text text text text text"
}

img {
  margin-right: 2px;
}

ul.items {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 0px;
}

ul.items li {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-bottom: 4px;
}

button {
  text-align: center;
}

.items > button {
  text-align: center;
}

.card {
  display: flex;
}

.dropbtn {
  background-color: #312221;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.skill-button {
  width: 70px;
  height: 100px;
}

.subskill-button {
  width: 70px;
  height: 70px;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;
}

.skill-group {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}

#skillsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  width: auto;
  justify-content: center;
}

.skill-button.active {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
  background-blend-mode: multiply;
  border-style: outset solid solid outset;
  border-color: black white white black;
}

.subskill-button.active {
  box-shadow: none;
  background-color:rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  border-style: outset solid solid outset;
  border-color: black white white black;
}

#questsContainer {
  background-color: rgba(255, 255, 255, 0.4);
  width: 500px;
  margin-left: 100px;
}

@media screen and (max-width: 1080.5px) {
  .skill-button {
    width: 50px;
    height: 80px;
  }

  .subskill-button {
    width: 50px;
    height: 50px;
  }

  .skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 2px;
  }
  .skill-group {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2px;
  }

  nav {
    text-align: right;
    padding-right: 50px;
  }

  #skillsContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    width: auto;
    justify-content: center;
  }
}

  @media screen and (max-width: 865px) {
    .skill-button {
      width: 25px;
      height: 40px;
    }

    .subskill-button {
      width: 25px;
      height: 25px;
    }

    .skill-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
      gap: 2px;
    }

    .logo {
      width: 400px;
    }

    h1 {
      font-size: 35px;
      padding-left: 370px;
    }
}