* {
  font-family: 'Rosarivo', cursive;
}

body {
  background: url("photos/background-start.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 45px;
}

.aside {
  float: left;
  background-color: #cfc6be;
  min-width: 220px;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100%;
  border-right: solid;
  border-color: #2c2521;
  border-radius: 3px;
}

.abilities {
  display: flex;
  width: 100%;
}

ul, li
{
  max-width: auto;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item-text {
  grid-area: text;
}

#items {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

#items > li {
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  width: 130px;
  text-align: center;
  font-size: 11px;
  color: white;
  align-items: left;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "text text text text text"
}

ul.items {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 0px;
}

ul.items li {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-bottom: 5px;
}

img {
  grid-column: 1;
  margin-right: 5px; /* Add space between image and item text */
}

.items > button {
  margin: 2px 2px 2px 2px; /* Add space between buttons and inventory count */
  width: 20px;
  text-align: center;
}

.card {
  display: grid;
  grid-column: 10;
  grid-template-columns: 10;
}

 /* Dropdown Button */
 .dropbtn {
  background-color: #312221;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #120e0d;
}
